<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Add Product</title></head>
<body>
  <h1>Add New Product</h1>
  <form th:action="@{/admin/add}" method="post" enctype="multipart/form-data">
    Name: <input type="text" name="name" /> <br/>
    Description: <input type="text" name="description" /> <br/>
    Price: <input type="number" name="price" step="0.01" /> <br/>
    Image: <input type="file" name="image" /> <br/>
    <button type="submit">Add</button>
  </form>
  <a href="/products">Back to Products</a>
</body>
</html>

